* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.content {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 500px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  flex: 1;
  font-weight: bold;
}

.input-container input[type="number"],
.input-container span {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.max-value {
  font-size: 14px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.mint-price {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

#loading-modal,
#alertModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.loading-modal-message {
  margin-top: 10px;
}

.alert-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.alert-modal-message {
  margin-top: 10px;
  font-size: 18px;
}
